In [2]:
import pandas as pd
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

In [3]:
df = pd.read_csv("exp2_CountryAgeSalary.csv")

In [4]:
df

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

In [5]:
imputer = SimpleImputer(strategy = "mean")

In [8]:
df[["Age", "Salary"]]= imputer.fit_transform(df[["Age", "Salary"]])

In [9]:
label_encoding = LabelEncoder()

In [ ]:
df[["Country"]] = label_encoding.